<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Caravan ID</key>
	<string>ctest1</string>
	<key>Caravan</key>
	<array>
		<dict>
			<key>Last Name</key>
			<string>Doe</string>
			<key>First Name</key>
			<string>John</string>
			<key>Email</key>
			<string>jdoe@xyz.com</string>
			<key>Lat</key>
			<real>33.823546</real>
			<key>Long</key>
			<string>-84.352304</string>
		</dict>
		<dict>
			<key>Last Name</key>
			<string>Doe</string>
			<key>First Name</key>
			<string>Jane</string>
			<key>Email</key>
			<string>jane@xyz.com</string>
			<key>Lat</key>
			<real>33.83007</real>
			<key>Long</key>
			<string>-84.339601</string>
		</dict>
		<dict>
			<key>Last Name</key>
			<string>Doe</string>
			<key>First Name</key>
			<string>Jim</string>
			<key>Email</key>
			<string>jimbo@xyz.com</string>
			<key>Lat</key>
			<real>33.815773</real>
			<key>Long</key>
			<string>-84.36299</string>
		</dict>
		<dict>
			<key>Last Name</key>
			<string>Doe</string>
			<key>First Name</key>
			<string>Jenkins</string>
			<key>Email</key>
			<string>ponies@xyz.com</string>
			<key>Lat</key>
			<real>33.822868</real>
			<key>Long</key>
			<string>-84.355137</string>
		</dict>
		<dict>
			<key>Last Name</key>
			<string>Doe</string>
			<key>First Name</key>
			<string>Jill</string>
			<key>Email</key>
			<string>jill@xyz.com</string>
			<key>Lat</key>
			<real>33.834704</real>
			<key>Long</key>
			<string>-84.329259</string>
		</dict>
		<dict>
			<key>Last Name</key>
			<string>Doe</string>
			<key>First Name</key>
			<string>Bobby</string>
			<key>Email</key>
			<string>bdoe@xyz.com</string>
			<key>Lat</key>
			<real>33.840301</real>
			<key>Long</key>
			<string>-84.313037</string>
		</dict>
	</array>
</dict>
</plist>
