<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Caravan ID</key>
	<string>ctest1</string>
	<key>Caravan</key>
	<dict>
		<key>Person - 2</key>
		<dict>
			<key>Last Name</key>
			<string>Doe</string>
			<key>First Name</key>
			<string>John</string>
			<key>Email</key>
			<string>jdoe@xyz.com</string>
			<key>Lat</key>
			<real>0</real>
			<key>Long</key>
			<string>0.0</string>
		</dict>
		<key>Person - 3</key>
		<dict>
			<key>Last Name</key>
			<string>Doe</string>
			<key>First Name</key>
			<string>John</string>
			<key>Email</key>
			<string>jdoe@xyz.com</string>
			<key>Lat</key>
			<real>0</real>
			<key>Long</key>
			<string>0.0</string>
		</dict>
		<key>Person - 4</key>
		<dict>
			<key>Last Name</key>
			<string>Doe</string>
			<key>First Name</key>
			<string>John</string>
			<key>Email</key>
			<string>jdoe@xyz.com</string>
			<key>Lat</key>
			<real>0</real>
			<key>Long</key>
			<string>0.0</string>
		</dict>
		<key>Person - 5</key>
		<dict>
			<key>Last Name</key>
			<string>Doe</string>
			<key>First Name</key>
			<string>John</string>
			<key>Email</key>
			<string>jdoe@xyz.com</string>
			<key>Lat</key>
			<real>0</real>
			<key>Long</key>
			<string>0.0</string>
		</dict>
		<key>Person - 6</key>
		<dict>
			<key>Last Name</key>
			<string>Doe</string>
			<key>First Name</key>
			<string>John</string>
			<key>Email</key>
			<string>jdoe@xyz.com</string>
			<key>Lat</key>
			<real>0</real>
			<key>Long</key>
			<string>0.0</string>
		</dict>
		<key>Person - 7</key>
		<dict>
			<key>Last Name</key>
			<string>Doe</string>
			<key>First Name</key>
			<string>John</string>
			<key>Email</key>
			<string>jdoe@xyz.com</string>
			<key>Lat</key>
			<real>0</real>
			<key>Long</key>
			<string>0.0</string>
		</dict>
		<key>Person - 1</key>
		<dict>
			<key>Last Name</key>
			<string>Doe</string>
			<key>First Name</key>
			<string>John</string>
			<key>Email</key>
			<string>jdoe@xyz.com</string>
			<key>Lat</key>
			<real>0</real>
			<key>Long</key>
			<string>0.0</string>
		</dict>
	</dict>
</dict>
</plist>
