<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Items</key>
	<array>
		<string>Let&apos;s Go!</string>
		<string>Lead a Caravan</string>
		<string>Join a Caravan</string>
		<string>Abandon Caravan</string>
	</array>
</dict>
</plist>
